.reportBox {
    width: 600px;
    border: 1px solid #eaeaea;
    margin: 20px auto ;
    box-shadow: 0px 0 5px 2px #eaeaea;
    color:#3b3b3b;
    font-size: large;
    border-radius: 5px;

    background-size: cover;
    background-image: url('/img/day.jpg');
}
.content{
    padding:20px;
}

.reportBox.night .content{
    background-color: rgba(0,0,0,0.5);
}

.temperature{
    display:inline-block; 
    margin-right:50px;
}
.capitalize{
    text-transform: capitalize;
}
.big{
    font-size:30pt;
}
.super{
    vertical-align: super;
    font-size:17pt;
}
.night {
    background-image: url('/img/night.jpg');
    color: white;
    background-size:contain ;
}
 .forecast-day.btn:hover, .forecast-day.btn.active{
    background: rgba(255,255,255,0.8);
    color: black;
}
.flag-icon{
    float: right;
}
::selection{
    /*display:none;*/
}
ul{
    margin: 0;
    padding:0;
}
.forecast-day{
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 7px;
    /*border: 1px solid #aeaeae;*/
    margin:10px;
    border-radius: 3px;
}